$point: #83C0D7;
@import "compass";
@import "compass/reset";

/*===============================================================================
        	logo begin
----------------------------------------------*/
@mixin mix-load-logo {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes load-logo {@include mix-load-logo;}
@keyframes load-logo {@include mix-load-logo;}

.start-plug{
	-webkit-animation: load-logo 2s;
	animation: load-logo 2s;
	&.download {
		width: 120px;
		height: 120px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.logo{
	position: relative;
}
.logo-points-box {
	display: inline-block;
	position: absolute;
	margin-left: 50px;
	.logo-point {
		background: $point;
		display: inline-block;
		width: 3px;
		height: 3px;
		border-radius: 3px;
		transform-origin: bottom center;
	}
}

$startValue: 120;
// начальное значение размеров логотипа, по умолчанию — 120
$s : 0;
// для 10-го не задается форматировние точки; далее — деление на 0
@for $k from 1 through 10 {
	$t : 11 - $k;
	$myH : #{$startValue - (10*($t))}px;
	$myT : #{5*(10-$k)}px;
	// вычисление высоты и верхнего отступаь

	@if $t == 10 {
		$myH : 10px;
		$myT : 43.3px;
	}
	@if $t == 9 {
		$myH : 32px;
		$myT : 39px;
	}
	// исключения

	.logo-block-round#{$t}{
		height: $myH;
		position: absolute;
		.logo-points-box {
			height: inherit;
			top: $myT;
		}
	}
	// определяется высота столбиков уровня и сдвиг уровня

	@for $i from 1 through $s {
		.logo-round#{$t}.rotate#{$i} {
			@include transform(rotate(($i*(360/($s)))+deg));
		}
	}
	// определяется кроссбраузерный наклон каждой точки

	$s : $s + 6;
	// новый уровень имеет на 6 точек больше предыдущего
}
/*печать логотипа*/

/*----------------------------------------------
        	logo end
===============================================================================*/



/*===============================================================================
        	_ begin
----------------------------------------------*/

/*----------------------------------------------
        	_ end
===============================================================================*/



/*===============================================================================
        	fonts-loading begin
----------------------------------------------*/

@font-face {font-family: GillSansProCyrillicLight;  src: url('../fonts/GillSansProCyrillicLight.ttf');}
@font-face {font-family: GillSansProCyrillicMedium; src: url('../fonts/GillSansProCyrillicMedium.ttf');}
@font-face {font-family: HeuristicaRegular; src: url('../fonts/HeuristicaRegular.ttf');}
@font-face {font-family: HeuristicaItalic; src: url('../fonts/HeuristicaItalic.ttf');}

/*----------------------------------------------
        	fonts-loading end
===============================================================================*/