$point: #83C0D7;
$grey:  #f7f7f7;
@import "compass";
@import "compass/reset";

/*===============================================================================
        	logo begin
----------------------------------------------*/
/*@mixin mix-load-logo {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes load-logo {@include mix-load-logo;}
@keyframes load-logo {@include mix-load-logo;}
*/
.start-plug{
	/*-webkit-animation: load-logo 2s;
	animation: load-logo 2s;*/
	&.download {
		width: 120px;
		height: 120px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	.logo{
		position: relative;
	}
}
body.download{
	overflow: hidden;
}
.logo-points-box {
	display: inline-block;
	position: absolute;
	margin-left: 50px;
	.logo-point {
		background: $point;
		display: inline-block;
		width: 3px;
		height: 3px;
		border-radius: 3px;
		transform-origin: bottom center;
	}
}


// -------------------------------------------------------------
// начальная анимация уровней; на видео — 9, на логотипе — 10, сверстано 10;
// уровни по кадрам: 0,   18,20,23,25,28,31,34,37,40,43,   48
//
@mixin mix-load-level-1 								{
	0% 			{opacity: 0;}
	89.5833% 	{opacity: 0;	height: 400px;	}
	100% 		{opacity: 1;	height: 120px;	}		}
@mixin mix-load-pre-level-1 							{
	89.5833% 	{top: -140px;	}
	100% 		{top: -5px;		}						}
@-webkit-keyframes  	load-level-1 	{@include 		mix-load-level-1;}
@keyframes 				load-level-1 	{@include  		mix-load-level-1;}
@-webkit-keyframes  load-pre-level-1 	{@include 	mix-load-pre-level-1;}
@keyframes 			load-pre-level-1 	{@include  	mix-load-pre-level-1;}


@mixin mix-load-level-2 								{
	0% 			{opacity: 0;}
	83.3333% 	{opacity: 0;	height: 380px;	}
	89.5833% 	{opacity: 1;	height: 110px;	}		}
@mixin mix-load-pre-level-2 							{
	83.3333% 	{top: -130px;	}
	89.5833% 	{top: -10px;	}						}
@-webkit-keyframes  	load-level-2 	{@include 		mix-load-level-2;}
@keyframes 				load-level-2 	{@include  		mix-load-level-2;}
@-webkit-keyframes  load-pre-level-2 	{@include 	mix-load-pre-level-2;}
@keyframes 			load-pre-level-2 	{@include  	mix-load-pre-level-2;}


@mixin mix-load-level-3 								{
	0% 			{opacity: 0;}
	/*77.0833% 	{opacity: 0;	height: 350px;	}
	83.3333% 	{opacity: 1;	height: 100px;	}*/		}
@mixin mix-load-pre-level-3 							{
	77.0833% 	{top: -120px;	}
	83.3333% 	{top: -15px;	}						}
@-webkit-keyframes  	load-level-3 	{@include 		mix-load-level-3;}
@keyframes 				load-level-3 	{@include  		mix-load-level-3;}
@-webkit-keyframes  load-pre-level-3 	{@include 	mix-load-pre-level-3;}
@keyframes 			load-pre-level-3 	{@include  	mix-load-pre-level-3;}


@mixin mix-load-level-4 								{
	0% 			{opacity: 0;}
	/*70.8333% 	{opacity: 0;	height: 330px;	}
	77.0833% 	{opacity: 1;	height: 90px;	}*/		}
@mixin mix-load-pre-level-4 							{
	70.8333% 	{top: -110px;	}
	77.0833% 	{top: -20px;	}						}
@-webkit-keyframes  	load-level-4 	{@include 		mix-load-level-4;}
@keyframes 				load-level-4 	{@include  		mix-load-level-4;}
@-webkit-keyframes  load-pre-level-4 	{@include 	mix-load-pre-level-4;}
@keyframes 			load-pre-level-4 	{@include  	mix-load-pre-level-4;}


@mixin mix-load-level-5 								{
	0% 			{opacity: 0;}
	/*64.5833% 	{opacity: 0;	height: 300px;	}
	70.8333% 	{opacity: 1;	height: 80px;	}*/		}
@mixin mix-load-pre-level-5								{
	64.5833% 	{top: -100px;	}
	70.8333% 	{top: -25px;	}						}
@-webkit-keyframes  	load-level-5 	{@include 		mix-load-level-5;}
@keyframes 				load-level-5 	{@include  		mix-load-level-5;}
@-webkit-keyframes  load-pre-level-5 	{@include 	mix-load-pre-level-5;}
@keyframes 			load-pre-level-5 	{@include  	mix-load-pre-level-5;}


@mixin mix-load-level-6 								{
	0% 			{opacity: 0;}
	/*58.3333% 	{opacity: 0;	height: 280px;	}
	64.5833% 	{opacity: 1;	height: 70px;	}*/		}
@mixin mix-load-pre-level-6 							{
	58.3333% 	{top: -90px;	}
	64.5833% 	{top: -30px;	}						}
@-webkit-keyframes  	load-level-6 	{@include 		mix-load-level-6;}
@keyframes 				load-level-6 	{@include  		mix-load-level-6;}
@-webkit-keyframes  load-pre-level-6 	{@include 	mix-load-pre-level-6;}
@keyframes 			load-pre-level-6 	{@include  	mix-load-pre-level-6;}


@mixin mix-load-level-7 								{
	0% 			{opacity: 0;}
	/*52.0833% 	{opacity: 0;	height: 240px;	}
	58.3333% 	{opacity: 1;	height: 60px;	}*/		}
@mixin mix-load-pre-level-7								{
	52.0833% 	{top: -8px;	}
	58.3333% 		{top: -35px;	}						}
@-webkit-keyframes  	load-level-7 	{@include 		mix-load-level-7;}
@keyframes 				load-level-7 	{@include  		mix-load-level-7;}
@-webkit-keyframes  load-pre-level-7 	{@include 	mix-load-pre-level-7;}
@keyframes 			load-pre-level-7 	{@include  	mix-load-pre-level-7;}


@mixin mix-load-level-8 								{
	0% 			{opacity: 0;}
	/*47.9167% 	{opacity: 0;	height: 210px;	}
	52.0833% 	{opacity: 1;	height: 50px;	}*/		}
@mixin mix-load-pre-level-8 							{
	47.9167% 	{top: -70px;	}
	52.0833% 	{top: -40px;	}						}
@-webkit-keyframes  	load-level-8 	{@include 		mix-load-level-8;}
@keyframes 				load-level-8 	{@include  		mix-load-level-8;}
@-webkit-keyframes  load-pre-level-8 	{@include 	mix-load-pre-level-8;}
@keyframes 			load-pre-level-8 	{@include  	mix-load-pre-level-8;}


@mixin mix-load-level-9 								{
	0% 			{opacity: 0;}
	/*41.6667% 	{opacity: 0;	height: 150px;	}
	47.9167% 	{opacity: 1;	height: 40px;	}*/		}
@mixin mix-load-pre-level-9 							{
	41.6667% 	{top: -60px;	}
	47.9167% 	{top: -45px;	}						}
@-webkit-keyframes  	load-level-9 	{@include 		mix-load-level-9;}
@keyframes 				load-level-9 	{@include  		mix-load-level-9;}
@-webkit-keyframes  load-pre-level-9 	{@include 	mix-load-pre-level-9;}
@keyframes 			load-pre-level-9 	{@include  	mix-load-pre-level-9;}


@mixin mix-load-level-10 								{
	0% 			{opacity: 0;}
	/*37.5% 		{opacity: 0;	height: 50px;	}
	41.6667% 	{opacity: 1;	height: 30px;	}*/		}
@mixin mix-load-pre-level-10 							{
	37.5% 		{top: -50px;		}
	41.6667% 	{top: -43.3px;	}						}
@-webkit-keyframes  	load-level-10 	{@include 		mix-load-level-10;}
@keyframes 				load-level-10 	{@include  		mix-load-level-10;}
@-webkit-keyframes  load-pre-level-10 	{@include 	mix-load-pre-level-10;}
@keyframes 			load-pre-level-10 	{@include  	mix-load-pre-level-10;}



$startValue: 120;
// начальное значение размеров логотипа, по умолчанию — 120
$s : 0;
// для 10-го не задается форматировние точки; далее — деление на 0
@for $k from 1 through 10 {
	$t    : 11 - $k;
	$myH  : $startValue - (10*($t));
	$myH2 : $myH * 3 + px;
	$myH  : $startValue - (10*($t)) + px;
	$myT  : #{5*(10-$k)}px;
	// вычисление высоты и верхнего отступаь

	@if $t == 10 {
		$myH  : 10px;
		$myH2 : 10px;
		$myT  : 43.3px;
	}
	@if $t == 9 {
		$myH  : 32px;
		$myH2 : 32px;
		$myT  : 39px;
	}
	// исключения

	.logo-block-round#{$t} {
		-webkit-animation: load-level-#{$t} 2s;
		animation: load-level-#{$t} 2s;
		height: $myH;
		position: absolute;
		.logo-points-box {
			height: inherit;
			top: $myT;
			-webkit-animation: load-pre-level-#{$t} 2s;
			animation: load-pre-level-#{$t} 2s;
		}
	}
	// определяется высота столбиков уровня и сдвиг уровня

	@for $i from 1 through $s {
		.logo-round#{$t}.rotate#{$i} {
			@include transform(rotate(($i*(360/($s)))+deg));
		}
	}
	// определяется кроссбраузерный наклон каждой точки

	$s : $s + 6;
	// новый уровень имеет на 6 точек больше предыдущего
}
/*печать логотипа*/




/*----------------------------------------------
        	logo end
===============================================================================*/



/*===============================================================================
        	_ begin
----------------------------------------------*/

/*----------------------------------------------
        	_ end
===============================================================================*/



/*===============================================================================
        	fonts-loading begin
----------------------------------------------*/

@font-face {font-family: GillSansProCyrillicLight;  src: url('../fonts/GillSansProCyrillicLight.ttf');}
@font-face {font-family: GillSansProCyrillicMedium; src: url('../fonts/GillSansProCyrillicMedium.ttf');}
@font-face {font-family: HeuristicaRegular; src: url('../fonts/HeuristicaRegular.ttf');}
@font-face {font-family: HeuristicaItalic; src: url('../fonts/HeuristicaItalic.ttf');}

/*----------------------------------------------
        	fonts-loading end
===============================================================================*/